node_modules/
dist/
bundle/
esbuild.bundle.js
esbuild.browser.js
types/
coverage/
**/output/
src/test/**/output/
**/**.spec.ts
src/test/e2e-emulated/map-tests/build
src/func/funcfiftlib.js
**/grammar.ohm*.ts
**/grammar.ohm*.js
src/grammar/next/grammar.ts
jest.setup.js
jest.teardown.js
/docs
shim.js
